
.btn{
    background:lightblue;
    padding:12px 35px;
    text-decoration: none;
    font-size: 14px;
    font-weight:500;
    color: #333;
    &--primary{
    background: lightseagreen;
    color: #fff;
    }
}